<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletTst</display-name>
  <servlet>
    <servlet-name>servlettst</servlet-name>
    <servlet-class>ServletTst</servlet-class>
    <init-param>
      <param-name>fileEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlettst</servlet-name>
    <url-pattern>/servlettst</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet</display-name>
    <servlet-name>servlet</servlet-name>
    <servlet-class>Servlet</servlet-class>
    <init-param>
      <param-name>fileEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ResponseRedirectionServlet</display-name>
    <servlet-name>ResponseRedirectionServlet</servlet-name>
    <servlet-class>ResponseRedirectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseRedirectionServlet</servlet-name>
    <url-pattern>/ResponseRedirectionServlet</url-pattern>
  </servlet-mapping>
</web-app>